_trees/*
!_trees/example_trees_0.json
!_trees/example_trees_1.json
__pycache__/*
src/__pycache__/*
src/web/__pycache__/*
src/backend/__pycache__/*
src/_utils/__pycache__/*
src/_db_helper.py
src/_testing.py
logging/*
